html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    background: #EAF2F8;
    font-family: 'Poppins', sans-serif;
}
// Dashboard
.contadores{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0;
    @media (min-width: 768px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media (min-width: 992px) {
        grid-template-columns: repeat(4,1fr);
    }
    div{
        // background-color: white;
        font-size: 1.1rem;
        padding: .5rem;
        &.uno{
            background: linear-gradient(to bottom, #ABEBC6, #ffffff);
            box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
        }
        &.dos{
            background: linear-gradient(to bottom, #FAD7A0, #ffffff);
            box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
        }
        &.tres{
            background: linear-gradient(to bottom, #F5B7B1, #ffffff);
            box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
        }
        &.cuatro{
            background: linear-gradient(to bottom, #D2B4DE, #ffffff);
            box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
        }
        div{
            display: flex;
            justify-content: space-between;

            .borde-icon{
                border: 1px solid gray;
                border-radius: 1.7rem;
                font-size: 1.6rem;
                padding: .8rem;
            }
        }
    }
}
.graficos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    @media (min-width: 992px){
        grid-template-columns: repeat(3,1fr);
    }
    .grafos{
        background-color: white;
        font-size: 1.1rem;
        padding: .5rem;
        box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
    }
}
.mostrar{
    display: none;
    &:first-child{
        display: block;
    }
}
.titulo-tabla{
    &:first-child{
        display: contents !important;
    }
}
.regresar2{
    width: 120px;
    margin: .7rem;
    background: rgb(33, 101, 197);
    color: white;
    border-radius: .5rem;
    padding: .5rem 1rem ;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
    }
    &:hover{
        background: rgba(33, 101, 197, .9);
        color: white;
    }
}
.negritaSpan{
    font-weight: bolder;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.6rem;
    color: white;
    height: 4.5rem;
    font-size: 1.2rem;
    background: rgba(0,0,0,.8);
    // Parte del logo
    .logo{
        display: flex;
        width: 170px;
        justify-content: space-between;
        align-items: center;
        .negrita{
            font-weight: bold;
        }
        .oculto{
            display: none;
        }
        ion-icon{
            cursor: pointer;
            transition: .3s ease;
            &.activo{
                transform: rotate(-150deg)
            }
        }
    }
    // Parte salida del usuario
    .salir{
        display: flex;
        width: 70px;
        justify-content: space-between;
        align-items: center;
        ion-icon{
            transition: .3s ease;
        }
        &:hover{
            opacity: .8;
        }
        &:hover ion-icon{
            transform: rotate(180deg);
            transition: .3s ease;
        }
    }
}


// Contenido Principal
.contenedor{
    // display: flex;
    // justify-content: space-between;
    // grid-template-columns: 1fr 6fr;
    min-height: 100vh;
    @media (min-width: 992px){
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
    .asidebar{
        display: flex;
        justify-content: space-between;
        align-items: start;
        background: white;
        box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .1);
        @media (min-width: 992px){
            display: block;
        }
        .usuario{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 1.1rem;
                font-weight: bold;
                display: none;
                @media (min-width: 992px){
                    display: block;
                }
            }
            img{
                border-radius: 50%;
                padding: .5rem;
                @media (min-width: 992px){
                    padding: none;
                }
            }
        }

        // Trabajando con los catálogos
        .menu{
            position: relative;
            @media (min-width: 992px){
                position: unset;
            }
            p{
                padding: 0 1.5rem;
                opacity: .5;
                text-transform: uppercase;
                display: none;
                @media (min-width: 992px){
                    display: block;
                }
            }
            .ico-drop{
                font-size: 4rem;
                margin: 1rem 2rem;
                cursor: pointer;
                @media (min-width: 992px){
                    display: none;
                }
            }
            .catalogos{
                // display: none;
                // flex-direction: column;
                position: absolute;
                top: 70%;
                right: 5%;
                background: white;
                box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, .1);
                transition: 3s ease;
                &.activo{
                    display: none;
                    @media (min-width: 992px){
                        display: unset;
                    }
                }
                @media (min-width: 992px){
                    box-shadow: unset;
                    background: unset;
                    position: unset;
                    border-bottom: unset;
                    // display: unset;
                }
                a{
                    padding: 1rem 1.5rem;
                    text-decoration: none;
                    color: rgba(0,0,0,.8);
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid rgb(223, 223, 223);
                    @media (min-width: 992px){
                        border-bottom: unset;
                    }
                    span{
                        display: block;
                        @media (min-width: 992px){
                            // display: none;
                        }
                    }
                    ion-icon{
                        font-size: 1.8rem;
                        transition: .3s ease;
                        margin-right: .5rem;
                        display: none;
                        @media (min-width: 992px){
                            display: block;
                        }
                    }
                    &:hover{
                        background-color: #2980B9;
                        color: white;
                    }
                    &:hover ion-icon{
                        margin-right: 1rem;
                        transition: .3s ease;
                    }
                }
            }
        }
    }

    // tranajando vistas
    .contenido{
        // flex: 0 0 calc(82% - 2px);
        .subheader{
            height: 4.5rem;
            background-color: white;
            box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .1);
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 2rem;
            font-family: 'Secular One', sans-serif;
        }

        .tablas{
            padding: 3rem 2rem;
            .superior{
                height: 3rem;
                background: white;
                display: flex;
                margin-bottom: 2px;
                display: flex;
                align-items: center;
                font-family: 'Secular One', sans-serif;
                text-transform: uppercase;
                padding: 0 2rem;
                box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex: 1;
                }
            }
            .form{
                // background: #EAF2F8;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                margin-bottom: 2rem;
                box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
                form{
                    padding: 1rem;
                    background: white;
                    margin: 0;
                    &.btnAbajo{
                        flex-direction: column;
                    }
                    .enviar{
                        width: 120px;
                        margin: 1rem .6rem 1rem;
                        background: rgb(33, 33, 197);
                        color: white;
                        border-radius: .5rem;
                        padding: .5rem 1rem ;
                        display: flex;
                        align-items: center;
                        &:hover{
                            background: rgba(33, 33, 197, .9);
                        }
                    }
                    .enviar ion-icon{
                        margin:0 2px;
                        font-size: 1rem;
                    }
                    .regresar{
                        width: 120px;
                        margin: 1rem;
                        background: rgb(33, 101, 197);
                        color: white;
                        border-radius: .5rem;
                        padding: .5rem 1rem ;
                        display: flex;
                        align-items: center;
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        &:hover{
                            background: rgba(33, 101, 197, .9);
                        }
                    }
                }
            }
            .color{
                background: white;
                // @media (min-width: 992px){
                    //     overflow: unset;
                    // }
                div{
                    overflow: scroll;
                    max-width: 1150px;
                    max-height: 34.6rem;
                    table{
                        min-width: 85rem;
                    }
                    .grande{
                        min-width: 1327px;
                    }
                }
                @media (min-width: 768px){
                    div{
                        overflow: scroll;
                        max-width: 1020px;
                    }
                }
                @media (min-width: 1200px){
                    div{
                        overflow: scroll;
                        min-width: 100%;
                        max-height: 34.6rem;
                    }
                }
                div .tablagrande{
                    // min-width: 158rem;
                    min-width: 189rem;
                }
                // tbody tr td:last-child{
                //     display: grid;
                //     grid-template-columns: 1fr;
                //     justify-items: center;
                //     @media (min-width: 992px){
                //         display: unset;
                //         border: unset;
                //     }
                // }
            }
        }
    }
    &.active{
        // display: flex;
        // justify-content: space-between;
        // grid-template-columns: 1fr 6fr;
        transition: .3s ease;
        width: 4rem;
        min-height: 100vh;
        @media (min-width: 992px){
            transition: .3s ease;
            display: grid;
            grid-template-columns: 1fr 7fr;
        }
        .asidebar{
            transition: .3s ease;
            display: flex;
            justify-content: space-between;
            align-items: start;
            background: white;
            box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .1);
            @media (min-width: 992px){
                display: block;
            }
            .usuario{
                // display: none;
                transition: .3s ease;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    font-size: 1.1rem;
                    font-weight: bold;
                    opacity: 0;
                }
                img{
                    border-radius: 50%;
                    padding: .5rem;
                    // opacity: 0;
                }
            }
    
            // Trabajando con los catálogos
            .menu{
                transition: .3s ease;
                position: relative;
                @media (min-width: 992px){
                    position: unset;
                }
                p{
                    padding: 0 1.5rem;
                    opacity: .5;
                    text-transform: uppercase;
                    display: none;
                }
                .ico-drop{
                    font-size: 4rem;
                    margin: 1rem 2rem;
                    cursor: pointer;
                    @media (min-width: 992px){
                        display: none;
                    }
                }
                .catalogos{
                    transition: .3s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    top: 70%;
                    right: 5%;
                    background: white;
                    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, .1);
                    @media (min-width: 992px){
                        box-shadow: unset;
                        background: unset;
                        position: unset;
                        border-bottom: unset;
                        // display: unset;
                    }
                    a{
                        transition: .3s ease;
                        padding: 1rem 1.5rem;
                        text-decoration: none;
                        color: rgba(0,0,0,.8);
                        font-size: 1rem;
                        display: block;
                        border-bottom: 1px solid rgb(223, 223, 223);
                        @media (min-width: 992px){
                            border-bottom: unset;
                        }
                        span{
                            transition: .3s ease;
                            display: none;
                        }
                        ion-icon{
                            transition: .3s ease;
                            font-size: 1.8rem;
                            transition: .3s ease;
                            margin-right: .5rem;
                            display: none;
                            @media (min-width: 992px){
                                display: block;
                            }
                        }
                        &:hover{
                            transition: .3s ease;
                            background-color: #2980B9;
                            color: white;
                        }
                        &:hover ion-icon{
                            margin-right: 0;
                            transition: .3s ease;
                        }
                    }
                }
            }
        }
    
        // tranajando vistas
        .contenido{
            // flex: 0 0 calc(82% - 2px);
            width: 92vw;
            .subheader{
                height: 4.5rem;
                background-color: white;
                box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .1);
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                text-transform: uppercase;
                font-weight: bold;
                padding: 0 2rem;
                font-family: 'Secular One', sans-serif;
            }
    
            .tablas{
                padding: 3rem 2rem;
                .superior{
                    height: 3rem;
                    background: white;
                    display: flex;
                    margin-bottom: 2px;
                    display: flex;
                    align-items: center;
                    font-family: 'Secular One', sans-serif;
                    text-transform: uppercase;
                    padding: 0 2rem;
                    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex: 1;
                    }
                }
                .form{
                    // background: #EAF2F8;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    margin-bottom: 2rem;
                    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
                    form{
                        padding: 1rem;
                        background: white;
                        margin: 0;
                        &.btnAbajo{
                            flex-direction: column;
                        }
                        .enviar{
                            width: 120px;
                            margin: 1rem .6rem 1rem;
                            background: rgb(33, 33, 197);
                            color: white;
                            border-radius: .5rem;
                            padding: .5rem 1rem ;
                            display: flex;
                            align-items: center;
                            &:hover{
                                background: rgba(33, 33, 197, .9);
                            }
                        }
                        .enviar ion-icon{
                            margin:0 2px;
                            font-size: 1rem;
                        }
                        .regresar{
                            width: 120px;
                            margin: 1rem;
                            background: rgb(33, 101, 197);
                            color: white;
                            border-radius: .5rem;
                            padding: .5rem 1rem ;
                            display: flex;
                            align-items: center;
                            a{
                                text-decoration: none;
                                color: white;
                            }
                            &:hover{
                                background: rgba(33, 101, 197, .9);
                            }
                        }
                    }
                }
                .color{
                    background: white;
                    // @media (min-width: 992px){
                        //     overflow: unset;
                        // }
                    div{
                        overflow: scroll;
                        max-width: 1150px;
                        max-height: 34.6rem;
                        table{
                            min-width: 85rem;
                        }
                        .grande{
                            min-width: 1327px;
                        }
                    }
                    @media (min-width: 768px){
                        div{
                            overflow: scroll;
                            max-width: 1020px;
                        }
                    }
                    @media (min-width: 1200px){
                        div{
                            overflow: scroll;
                            min-width: 100%;
                            max-height: 34.6rem;
                        }
                    }
                    div .tablagrande{
                        // min-width: 158rem;
                        min-width: 189rem;
                    }
                    // tbody tr td:last-child{
                    //     display: grid;
                    //     grid-template-columns: 1fr;
                    //     justify-items: center;
                    //     @media (min-width: 992px){
                    //         display: unset;
                    //         border: unset;
                    //     }
                    // }
                }
            }
        }
    }
}

// Botones
.edit{
    padding: .3rem .5rem;
    background: #1ABC9C;
    color: white;
    border-radius: .4rem;
    font-size: 1.1rem;
}
.show{
    padding: .3rem .5rem;
    background: #1f6ac5;
    color: white;
    border-radius: .4rem;
    font-size: 1.1rem;
}
.delete{
    display: inline-block;
    button{
        padding: .5rem;
        background: #CD6155;
        color: white;
        border-radius: .4rem;
        font-size: 1rem;
        &:hover{
            color: black;
        }
    }
}

// Roles
.update-rol{
    width: 15rem;
    display: flex;
    justify-content: center;
    form:first-child{
        display: flex;
        flex: 1;
        button{
            padding: 0 .3rem;
            background: #2980B9;
            color: white;
            border-radius: .5rem;
            transition: all .3s ease;
            &:hover{
                background: #226fa2;
            }
            ion-icon{
                font-size: 2rem;
                margin-top: .2rem;
                // margin-right: .1rem;
            }
        }
    }
    .delete-rol{
        min-height: 100%;
        padding: .2rem .4rem;
            background: #CD6155;
            color: white;
            border-radius: .5rem;
            transition: all .3s ease;
            &:hover{
                background: #c3473a;
            }
            ion-icon{
                font-size: 1.5rem;
                margin-top: .2rem;
                margin-right: .1rem;
            }
    }
}

// boton exportar excell
.botnExportar{
    color: white;
    background-color: #138D75;
    padding: .3rem 1rem;
    border-radius: .2rem;
    transition: .3s ease;
    text-transform: capitalize;
    &:hover{
        color: white;
        background-color: #0f6f5c;
    }
}

// boton regresar
.regresarproyecto{
    width: 120px;
    margin: 1rem 0;
    background: rgb(33, 101, 197);
    color: white;
    border-radius: .5rem;
    padding: .5rem 1rem ;
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
        // color: white;
    }
    &:hover{
        background: rgba(33, 101, 197, .9);
        color: white;

    }
}

#colaborador {
    border: 1px solid green;
    outline: unset;
}
#cliente {
    border: 1px solid green;
    outline: unset;
}
#estado {
    border: 1px solid green;
    outline: unset;
}
#select_empresa {
    border: 1px solid green;
    outline: unset;
}
#origen_asistencia {
    border: 1px solid green;
    outline: unset;
}